Hello World!
<h1>This is the home page</h1>
hogy a kódkiegészítés működjön: file/preferences/settings elkezdjuk beirni, hogy emmet, utana a settings.json-os opcio
settings.json-ben felvesszuk ezt:
"emmet.includeLanguages": {"*.erb": "html", "ruby": "html"}
ezutan mar ha elkezdjuk gepelni pl. azt, hogy h1, akkor tabot nyomva kiegészíti... tehát erb végű fájlokban is
 működni fog a kódkiegészítés